<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/viewrecipe/viewrecipe.css">
    <script>
      fetch('/api/getrecipe/'+ "<%= recipeId%>")
      .then(response => {
        return response.json();
      })
      .then(jsondata => loadtopage(jsondata))
    </script>
<script src="/viewrecipe/viewrecipe.js"></script>
    <a href="/"><header><h1>My Recipe</h1></header></a>
  </head>
  <body>
    
    <main id=recp>
      
      <div id="viewdiv">
        <h2 id="recipename"></h2>
        <h3>Ingredients</h3>
        <ul id="ingredients"></ul>
        <h3>Instructions</h3>
        <ol id="instructions"></ol>
        
      </div>
      <button onclick="editRecipe()" id="editButt" style="display: none;">Edit Recipe</button>
    <!--                      EDIT                              -->  
      
      <div id="editdiv" style="display: none;">
      <form id="recipe-form" action="/api/updaterecipe/" method="post">
        <div>
          <label id="recipename-label" for="recipename" required>Recipe Name</label>
          <textarea id="uname" name="recipename" placeholder="Recipe's name" required></textarea>
        </div>
        
        <div id="gtxtarea">
          <label for="ingredient">Ingredients</label>
        </div>
          
        <button onclick="newIngredient()" id="ingr" type="button">Add Ingredient</button>
        <button onclick="removeIngredient()" id="removeIngredients" type="button">Remove last Ingredient</button>
          
        <div id="stxtarea">
          <label for="instruction">Instructions</label>
        </div>
        
        <div>
         <button onclick="newInstruction()" id="addInstruction" type="button">Add Instruction</button>
         <button onclick="removeInstruction()" id="removeInstruct" type="button">Remove last Instruction</button>
        </div>
        
        <label for="pass">Password</label>
        <textarea id="pass" name="password" placeholder="pass" required></textarea>
        <button type="submit" value="Submit">Submit</button>
      </form>
          <a href="#null" onclick="triggerMe()">Delete Recipe</a>
        </div>
    </main>
    
    
    
    <footer>
    
    </footer> 
  </body>
</html>